/*---Main-envios---*/

.portada4 {
    background-image: url(../img/vianda\ envios.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    h1 {
        font-size: 3rem;
        text-shadow: 3px 3px 4px black, 0 0 2em black, 0 0 1em black;
        p {
            font-size: 1.5rem;
            text-shadow: 3px 3px 4px black, 0 0 2em black, 0 0 1em black;
        }
    }    
}

.main4 {
    padding: 0%;
}
